$grey: #333;
$light-grey: #A0969E;
$bg-grey:rgba(220, 203, 205, 0.23);
$bg-black:#fefefe;
$black:#555;
$light-black:#444;


$link-color:#0645ad;
$link-visited-color:#0b0080;
$link-hover-color:#06e;
$link-active-color:#faa700;

$blockquote-color:#666666;
$ins-bg-color:#ff9;
$mark-bg-color:#ff0;