@import './components/header';
@import './components/main';
@import './components/footer';
@import './includes/responsive';

.main-container{
	.container{
		.form-container{
			margin-left: -200px;
			margin-top: 50px;
		}
		.page-header{
			margin-top: 40px;
			h2{
				text-align: center;
				line-height: 2em;
			}
		}
		.login-container{
			margin-top: 40px;
		}
	}
}