footer.footer
	.footer-container
		.flex-item
			h3 ©&nbsp2015 Liang Xinyu
			p Have a blog in Node.js ? Come on shit !
		.flex-item
			a.icon-github.icon(herf='/',target='/blank') 
			a.icon-wechat.icon(herf='/',target='/blank')
			a.icon-mail.icon(herf='/',target='/blank')
			a.icon-qq.icon(herf='/',target='/blank')