footer.footer
	.footer-container
		.flex-item.footer-left
			h3 ©&nbsp2015 Liang Xinyu
			p Have a blog in Node.js ? 
		.flex-item.footer-right
			a.icon-github.icon(herf='/',target='/blank') 
			a.icon-wechat.icon(herf='/',target='/blank')
			a.icon-mail.icon(herf='/',target='/blank')
			a.icon-qq.icon(herf='/',target='/blank')