@charset "UTF-8";
html {
  margin: 0;
  padding: 0;
}

body {
  color: #444;
  background-color: #fefefe;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  transition: all 0.3s ease-in-out;
}
a:link {
  color: #0645ad;
}
a:visited {
  color: #0b0080;
}
a:hover {
  color: #06e;
}
a:active {
  color: #faa700;
}
a:focus {
  outline: thin dotted;
}
a:hover, a:active {
  outline: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  line-height: 1em;
}

h4,
h5,
h6 {
  font-weight: bold;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}

h6 {
  font-size: 0.9em;
}

p {
  margin: 1em 0;
}

img {
  max-width: 100%;
}

blockquote {
  color: #666666;
  margin: 0;
  padding-left: 3em;
  border-left: 0.5em #eee solid;
}

hr {
  display: block;
  height: 2px;
  border: 0;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #eee;
  margin: 1em 0;
  padding: 0;
}

pre,
code,
kbd,
samp {
  color: #555;
  font-family: monospace, monospace;
  _font-family: 'courier new', monospace;
  font-size: 0.98em;
}

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

ins {
  background: #ff9;
  color: #555;
  text-decoration: none;
}

mark {
  background: #ff0;
  color: #555;
  font-style: italic;
  font-weight: bold;
}

sub {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

ul,
ol {
  margin: 1em 0;
  padding: 0 0 0 2em;
}

li p:last-child {
  margin: 0;
}

dd {
  margin: 0 0 0 2em;
}

img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td {
  vertical-align: top;
}

ul, ol, dl {
  line-height: 1.42857;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header-container {
  width: 100%;
  height: 64px;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}
.header-container .header {
  margin: 0 auto;
}
.header-container .header .menu-control {
  float: right;
  margin-top: 15px;
  color: #fff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  display: none;
}
.header-container .header .menu-control a .menu-bar {
  display: block;
  width: 25px;
  height: 3px;
  margin-top: 6px;
  background-color: rgba(68, 68, 68, 0.54);
  border-radius: 3px;
}
.header-container .header .menu-control .dropdown-menu {
  display: none;
  position: absolute;
  top: 97%;
  right: 1px;
  z-index: 1000;
  min-width: 80px;
  padding: 5px 0;
  margin: 2px 0 0;
  list-style: none;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  color: #555;
}
.header-container .header .menu-control .dropdown-menu.show {
  display: block;
}
.header-container .header .menu-control .dropdown-menu .menu-item a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.5;
  color: #333;
  white-space: nowrap;
}
.header-container .header .menu-control .dropdown-menu .menu-item a:hover, .header-container .header .menu-control .dropdown-menu .menu-item a:focus {
  text-decoration: none;
  outline: 0;
  background-color: rgba(34, 34, 34, 0.11);
}
.header-container .header .header-right {
  float: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.header-container .header .flex-item {
  margin: 0 1rem;
  line-height: 64px;
  color: #A0969E;
  cursor: pointer;
  transition: all 3s;
}
.header-container .header .flex-item:hover {
  color: #333;
}
.header-container .header .flex-item:focus {
  outline: thin dotted;
}
.header-container .header .flex-item:hover, .header-container .header .flex-item:active {
  outline: 0;
}
.header-container .header .flex-logo {
  float: left;
  color: #A0969E;
  cursor: pointer;
  width: 99px;
  height: 64px;
}

.main {
  margin-top: 64px;
  flex: 1;
}
.main .main-container .article-item {
  margin-top: 25px;
}
.main .main-container .article-item:last-child {
  padding-bottom: 25px;
}
.main .main-container .article-item .article-container .post-title {
  font-size: 25px;
  line-height: 45px;
}
.main .main-container .article-item .article-container .post-operation {
  font-size: 16px;
  line-height: 25px;
  text-decoration: none;
}
.main .main-container .article-item .article-container .post-meta span {
  font-size: 16px;
  line-height: 25px;
}
.main .main-container .article-item .article-container .post-body p {
  line-height: 35px;
  font-size: 16px;
}

@font-face {
  font-family: 'FontAwesome';
  src: url("../fonts/fontawesome-webfont.eot?v=4.3.0");
  src: url("../fonts/fontawesome-webfont.eot?#iefix&v=4.3.0") format("embedded-opentype"), url("../fonts/fontawesome-webfont.woff2?v=4.3.0") format("woff2"), url("../fonts/fontawesome-webfont.woff?v=4.3.0") format("woff"), url("../fonts/fontawesome-webfont.ttf?v=4.3.0") format("truetype"), url("../fonts/fontawesome-webfont.svg?v=4.3.0#fontawesomeregular") format("svg");
  font-weight: normal;
  font-style: normal;
}
.footer {
  background: rgba(220, 203, 205, 0.23);
}
.footer .footer-container {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}
.footer .footer-container .footer-left h3 {
  font-weight: lighter;
  font-size: 22px;
  color: #555;
  margin-bottom: 0px;
}
.footer .footer-container .footer-left p {
  font-size: 19px;
  color: #A0969E;
  margin-bottom: 1.6rem;
}
.footer .footer-container .footer-right a.icon {
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: rgba(60, 51, 58, 0.44);
  margin-top: 48px;
  margin-right: 1rem;
  padding-bottom: 1rem;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.3s;
}
.footer .footer-container .footer-right a.icon:last-child {
  padding-right: 20px;
}
.footer .footer-container .footer-right a.icon:hover {
  color: #000;
}
.footer .footer-container .footer-right .icon-github::before {
  content: "";
}
.footer .footer-container .footer-right .icon-wechat::before {
  content: "";
}
.footer .footer-container .footer-right .icon-mail::before {
  content: "";
}
.footer .footer-container .footer-right .icon-qq::before {
  content: "";
}

@media screen and (min-width: 1200px) {
  html {
    font-size: 16px;
  }
  html .header-container .header {
    max-width: 1030px;
  }
  html .header-container .header .header-right {
    margin-right: 0;
  }
  html .header-container .header .flex-logo {
    margin-left: 0;
  }
  html .main-container {
    margin: 0 auto;
    max-width: 1030px;
  }
  html .footer .footer-container {
    max-width: 1030px;
  }
}
@media screen and (max-width: 768px) {
  html {
    font-size: 14px;
  }
  html .header-container .header .header-right {
    margin-right: 2.5rem;
  }
  html .header-container .header .flex-logo {
    margin-left: 2.5rem;
  }
  html .main-container {
    margin: 0 2.5rem;
  }
  html .footer .footer-container {
    width: 750px;
  }
}
@media screen and (max-width: 414px) {
  html {
    font-size: 14px;
  }
  html .header-container .header .header-right, html .header-container .header .menu-control {
    margin-right: 1.5rem;
  }
  html .header-container .header .invisible-sm {
    display: none;
  }
  html .header-container .header .visible-sm {
    display: block;
  }
  html .header-container .header .flex-logo {
    margin-left: 1.5rem;
  }
  html .main-container {
    margin: 0 1.5rem;
  }
  html .footer .footer-container {
    width: 100%;
  }
  html .footer .footer-container .footer-left, html .footer .footer-container .footer-right {
    flex-basis: 100%;
  }
  html .footer .footer-container .footer-left h3 {
    margin-bottom: 0;
  }
  html .footer .footer-container .footer-left p {
    margin-bottom: 8px;
  }
  html .footer .footer-container .footer-right a.icon {
    margin-top: 1rem;
    margin-right: 1rem;
    padding-bottom: 1rem;
    font-size: 2rem;
  }
}
