extends ../layout

block headFile
	link(rel='stylesheet',type='text/css',href='/css/index.css')
	//- link(rel='stylesheet',type='text/css',href='//cdn.bootcss.com/highlight.js/9.2.0/styles/atelier-dune-light.min.css')
	//- script(src='//cdn.bootcss.com/highlight.js/9.2.0/highlight.min.js')
	//- script.
	//- 	hljs.initHighlightingOnLoad();
					
block content
	main.main
		.main-container
			.about-page
				img(src="/images/2016-05-08_013038.jpg")