extends ../layout
include ../includes/util

block headFile
	link(rel='stylesheet',type='text/css',href='/css/bootstrap.min.css')
	link(rel='stylesheet',type='text/css',href='/css/admin.css')
	script(src='/js/admin.js')

block content
	main.main
		.main-container
			.page-header
				h1 后台文章管理
			each item in content
				+adminPost(item)