extends ../layout

block headFile
	link(rel='stylesheet',type='text/css',href='css/index.css')

block content
	main.main
		article.article-item
			.article-container
				h1.post-title Liangxinyu frist blog
				div.post-meta 
					span.post-time Posted in 
						a(href='/',targer='_blank') 2016-03-09
					span.post-category &nbsp | &nbsp Signed to 
						a(href='/',targer='_blank') My fxxking life
					span.tags 
						a(href='/',targer='_blank') 001
						a(href='/',targer='_blank') 002
						a(href='/',targer='_blank') 003
				div.post-body
					p 2016 前端技术提升点（如果继续从事的话，希望能够将重点放在下面的事情上）：
					p 2016 前端技术提升点（如果继续从事的话，希望能够将重点放在下面的事情上）：
					p 2016 前端技术提升点（如果继续从事的话，希望能够将重点放在下面的事情上）：
		article.article-item
			.article-container
				h1.post-title Liangxinyu frist blog
				div.post-meta 
					span.post-time Posted in 
						a(href='/',targer='_blank') 2016-03-09
					span.post-category &nbsp | &nbsp Signed to 
						a(href='/',targer='_blank') My fxxking life
					span.tags 
						a(href='/',targer='_blank') 001
						a(href='/',targer='_blank') 002
						a(href='/',targer='_blank') 003
				div.post-body
					p 2016 前端技术提升点（如果继续从事的话，希望能够将重点放在下面的事情上）：
					p 2016 前端技术提升点（如果继续从事的话，希望能够将重点放在下面的事情上）：
					p 2016 前端技术提升点（如果继续从事的话，希望能够将重点放在下面的事情上）：
		article.article-item
			.article-container
				h1.post-title Liangxinyu frist blog
				div.post-meta 
					span.post-time Posted in 
						a(href='/',targer='_blank') 2016-03-09
					span.post-category &nbsp | &nbsp Signed to 
						a(href='/',targer='_blank') My fxxking life
					span.tags 
						a(href='/',targer='_blank') 001
						a(href='/',targer='_blank') 002
						a(href='/',targer='_blank') 003
				div.post-body
					p 2016 前端技术提升点（如果继续从事的话，希望能够将重点放在下面的事情上）：
					p 2016 前端技术提升点（如果继续从事的话，希望能够将重点放在下面的事情上）：
					p 2016 前端技术提升点（如果继续从事的话，希望能够将重点放在下面的事情上）：