extends ../layout
include ../includes/util

block headFile
	//- link(rel='stylesheet',type='text/css',href='/css/index.css')
	script(src='/js/bundle.js')
		
block content
	main.main
		.main-container
			h1 xinyu 's Index page