extends ../layout
include ../includes/util

block headFile
	link(rel='stylesheet',type='text/css',href='/css/tag.css')

block content
	main.main
		.main-container
			h2 标签：/ &nbsp  #{tag} &nbsp /
			each item in items
				+post(item)