@import '../includes/icons';
@import '../includes/icon-names';
.footer {
    background: $bg-grey;
    .footer-container {
        margin: 0 auto;
        display:flex;
        justify-content:space-between;
        flex-wrap:wrap;
        padding-left: 1.5rem;
        padding-right: 1.5rem;
        .footer-left {
            h3 {
                font-weight: lighter;
                font-size: 22px;
                color: $black;
                margin-bottom: 0px;
            }
            p {
                font-size: 19px;
                color: #A0969E;
                margin-bottom: 1.6rem;
            }
        }
        .footer-right{
            a.icon {
                display: inline-block;
                font: normal normal normal 14px/1 FontAwesome;
                font-size: inherit;
                text-rendering: auto;
                -webkit-font-smoothing: antialiased;
                -moz-osx-font-smoothing: grayscale;
                color: rgba(60, 51, 58, 0.44);
                margin-top: 48px;
                margin-right: 1rem;
                padding-bottom: 1rem;
                font-size: 2rem;
                cursor: pointer;
                transition:all 0.3s;
                &:last-child {
                    padding-right: 20px;
                }
                &:hover {
                    color: #000;
                }
            }
            @include icon(icon-github,$fa-var-github);
            @include icon(icon-wechat,$fa-var-wechat);
            @include icon(icon-mail,$fa-var-mail-forward);
            @include icon(icon-qq,$fa-var-qq);
        }
    }
}
