@import '../includes/color';
@import '../includes/variables';
@import '../includes/global';


body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
} 
.header-container {
    width: 100%;
    height: 64px;
    box-shadow: $light-shadow;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
    .header {
        margin: 0 auto;
        .menu-control{
            float: right;
            margin-top: 15px;
            color: #fff;
            text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
            display: none;
            a{
                .menu-bar{
                    display: block;
                    width: 25px;
                    height: 3px;
                    margin-top: 6px;
                    background-color: rgba(68, 68, 68, 0.54);
                    border-radius: 3px;
                }
            }
            .dropdown-menu{
                display: none;                    
                position: absolute;
                top: 97%;
                right: 1px;
                z-index: 1000;
                min-width: 80px;
                padding: 5px 0;
                margin: 2px 0 0;
                list-style: none;
                border: 1px solid rgba(0,0,0,.15);
                border-radius: 3px;
                box-shadow: 0 6px 12px rgba(0,0,0,.175);
                color: $black;
                &.show{
                    display: block;
                }
                .menu-item{
                    a{
                        display: block;
                        padding: 3px 20px;
                        clear: both;
                        font-weight: 400;
                        line-height: 1.5;
                        color: #333;
                        white-space: nowrap;
                        &:hover,&:focus{
                            text-decoration: none;
                            outline: 0;
                            background-color: rgba(34, 34, 34, 0.11);
                        }
                    }
                }
            }
        }
        .header-right{
            float: right;
            display: flex;
            justify-content:flex-end;
            align-items:center;
        }
        .flex-item {
            margin: 0 1rem;
            line-height: 64px;
            color: $light-grey;
            cursor: pointer;
            transition:all 3s;
            &:hover{
                color: $grey;
            }
            &:focus {
                outline: thin dotted;
            }
            &:hover,
            &:active {
                outline: 0;
            }
        }
        .flex-logo {
            float: left;
            color: $light-grey;
            cursor: pointer;
            width: 99px;
            height: 64px;
        }
    }
}
